<p>home works!</p>
<h2>引入图片</h2>

<div *ngIf="flag">
    <img src="assets/images/01.jfif" alt="收藏">
</div>
<div *ngIf="!flag">
    <img src="assets/images/02.jfif" alt="收藏">
</div>

<img [src]="imgUrl" />

<h2>循环数据 显示数据的索引（key）</h2>
<ul>
    <li *ngFor="let item of list; let key=index">
        <span *ngIf="key==1" class="red">{{key}} ---- {{item.title}}</span>
        <span *ngIf="key!=1">{{key}} ---- {{item.title}}</span>
    </li>
</ul>

<h2>条件判断语句 ngSwitch</h2>
<span [ngSwitch]="orderStatus">
    <p *ngSwitchCase="1">
        已经支付
    </p>
    <p *ngSwitchCase="2">
        支付并且确认订单
    </p>
    <p *ngSwitchCase="3">
        已经发货
    </p>
    <p *ngSwitchCase="4">
        已经收货
    </p>
    <p *ngSwitchDefault>
        无效订单
    </p>
</span>

<h2>管道</h2>
<span>
    {{date}}
    <br>

    <span>{{date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    
</span>


<h2>事件</h2>
<span>{{title}}</span>
<br>
<span>
    <button (click)="run()">执行事件</button>
    <br>
    <button (click)="getData()">执行方法获取数据</button>
    <br>
    <button (click)="setData()">执行方法改变数据</button>
    
</span>

<h2>表单事件</h2>
<!-- <input type="text" (keyDown)="keyDown($event)" /> -->
<input type="text" (keyDown)="keyDown($event)" />